name: publish

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          submodules: true
      - run: |
            apk add py3-pip python3 python3-dev
            mkdir "/home/runner/work/bookbase/bookbase/website/"
            ./scripts/inVenv.sh ./scripts/renderStandardPages.sh . "/home/runner/work/bookbase/bookbase/website/" bookbase "https://thomasweise.github.io/bookbase"
# deploy to github pages
      - name: deploy documentation
        uses: JamesIves/github-pages-deploy-action@94f3c658273cf92fb48ef99e5fbc02bd2dc642b2
        with:
          branch: gh-pages
          folder: /home/runner/work/bookbase/bookbase/website/
          single-commit: true
